.DIV_BODDY{
width:90%;
min-width:400px;
height:90%;
min-height:400px;
text-align:center;
margin:auto;
}

.PARTIE_HAUT{
position:relative;
height:200px;
}

.INFORMATION_LABEL{
position:absolute;
vertical-align:top;
text-align:left;
margin-right:10%;
left:10%;
top:10%;
}

.RECEPTION_INFORMATION{
position:absolute;
vertical-align:top;
text-align:center;
margin-left:10%;
margin-right:10%;
left:15%;
top:10%;
}

.BOUTONS{
position:absolute;
margin-left:10%;
left:70%;
top:10%;
}

.SPACER{
clear:both;
}
hr{
clear:both;
}

.BOUTON{
min-width:150px;
width:150px;
}

.HEURE{
}

.COURBE{

}
