.DIV_BODDY{
color:white;
letter-spacing: 1px;
font-family: "Quantico", sans-serif;
font-weight: 700;
width:90%;
min-width:400px;
height:90%;
min-height:400px;
text-align:center;
}

.INFORMATION_LABEL{
position:relative;
vertical-align:top;
text-align:left;
margin-right:10%;
left:10%;
top:90%;
}

.IMAGE_HUMEUR_MAJ{
position:relative;
text-align:center;
left:50%;
top:30%;
color:white;
letter-spacing: 1px;
font-family: "Quantico", sans-serif;
font-weight: 700;
}

.BOUTONS{
position:relative;
margin-left:10%;
left:-3%;
top:0%;
}

.SPACER{
clear:both;
}
hr{
clear:both;
}

.BOUTONS{
top:60%;	
min-width:150px;
width:150px;
}

.BOUTONS #pause{
top:45%;
}

.BOUTONS #reprise {
top:45%;
left:20%;
}

.PARTIE_GAUCHE {
position:absolute;
height:100px;
left:5%;
top:10%;
}

#affichageProf_canvas {
position:fixed;
padding-right:5%;
padding-left:7.5%;
padding-top:5%;
padding-bottom:5%;
background-image:url("images/fondCourbe/courbeBase.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
left:35%;
top:20%;
overflow: auto;
overflow-y: scroll;
}

.btn-finSession {
	height: 30px;
}

.btn-pause {
	height: 30px;
}

.btn-reprise {
	height: 30px;
}

@media screen and (min-width: 720px) { 
.BOUTONS{
top:55%;	
min-width:150px;
width:150px;
}

.BOUTONS #pause{
top:45%;
left:10%;
}

.BOUTONS #reprise {
top:45%;
left:20%;
}
}

@media screen and (max-height: 800px) { 
	.BOUTONS #pause{
top:55%;
}

.BOUTONS #reprise {
top:55%;
}
}