span {
	color:white;
    letter-spacing: 1px;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    position:absolute;
}

@media screen and (max-width: 480px) {      

span {
	top:25%;
	left:17%;
}	
	
#Emotion_colere {
	background-image: url("images/humeurs/humeur_colere.gif");
	top: 30%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_triste {
	background-image: url("images/humeurs/humeur_triste.gif");
	top: 30%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_blaze {
	background-image: url("images/humeurs/humeur_blaze.gif");
	top: 30%;
	left : 65%;
	width: 15%;
    height:19%;
}

#Emotion_dort {
	background-image: url("images/humeurs/humeur_dort.gif");
	top: 50%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_rigole {
	background-image: url("images/humeurs/humeur_rigole.gif");
	top: 50%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_content {
	background-image: url("images/humeurs/humeur_content.gif");
	top: 50%;
	left : 65%;
	width: 15%;
    height:19%;
}
}

@media screen and (min-width: 320px) and (max-height: 250px) and (max-width: 720px) {      

span {
	top:20%;
	left:17%;
}	
	
#Emotion_colere {
	background-image: url("images/humeurs/humeur_colere.gif");
	top: 30%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_triste {
	background-image: url("images/humeurs/humeur_triste.gif");
	top: 30%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_blaze {
	background-image: url("images/humeurs/humeur_blaze.gif");
	top: 30%;
	left : 65%;
	width: 15%;
    height:19%;
}

#Emotion_dort {
	background-image: url("images/humeurs/humeur_dort.gif");
	top: 50%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_rigole {
	background-image: url("images/humeurs/humeur_rigole.gif");
	top: 50%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_content {
	background-image: url("images/humeurs/humeur_content.gif");
	top: 50%;
	left : 65%;
	width: 15%;
    height:19%;
}
}

@media screen and (min-width: 480px) { 
	
	span {
	top:25%;
	left:17%;
}	
#Emotion_colere {
	background-image: url("images/humeurs/humeur_colere.gif");
	top: 30%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_triste {
	background-image: url("images/humeurs/humeur_triste.gif");
	top: 30%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_blaze {
	background-image: url("images/humeurs/humeur_blaze.gif");
	top: 30%;
	left : 65%;
	width: 15%;
    height:19%;
}

#Emotion_dort {
	background-image: url("images/humeurs/humeur_dort.gif");
	top: 50%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_rigole {
	background-image: url("images/humeurs/humeur_rigole.gif");
	top: 50%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_content {
	background-image: url("images/humeurs/humeur_content.gif");
	top: 50%;
	left : 65%;
	width: 15%;
    height:19%;
}
}

@media screen and (min-width: 720px) { 
	
#Emotion_colere {
	background-image: url("images/humeurs/humeur_colere.gif");
	top: 30%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_triste {
	background-image: url("images/humeurs/humeur_triste.gif");
	top: 30%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_blaze {
	background-image: url("images/humeurs/humeur_blaze.gif");
	top: 30%;
	left : 65%;
	width: 15%;
    height:19%;
}

#Emotion_dort {
	background-image: url("images/humeurs/humeur_dort.gif");
	top: 50%;
	left : 15%;
	width: 15%;
    height:19%;
}

#Emotion_rigole {
	background-image: url("images/humeurs/humeur_rigole.gif");
	top: 50%;
	left : 40%;
	width: 15%;
    height:19%;
}

#Emotion_content {
	background-image: url("images/humeurs/humeur_content.gif");
	top: 50%;
	left : 65%;
	width: 15%;
    height:19%;
}
}

@media screen and (min-width: 1024px){
span {
	    top:33%;
    left:45%;
}
	
#Emotion_colere {
	background-image: url("images/humeurs/humeur_colere.gif");
	top: 40%;
	left : 33%;
	width: 5%;
    height:9%;
}

#Emotion_triste {
	background-image: url("images/humeurs/humeur_triste.gif");
	top: 40%;
	left : 39%;
	width: 5%;
    height:9%;
}

#Emotion_blaze {
	background-image: url("images/humeurs/humeur_blaze.gif");
	top: 40%;
	left : 45%;
	width: 5%;
    height:9%;
}

#Emotion_dort {
	background-image: url("images/humeurs/humeur_dort.gif");
	top: 40%;
	left : 51%;
	width: 5%;
    height:9%;
}

#Emotion_rigole {
	background-image: url("images/humeurs/humeur_rigole.gif");
	top: 40%;
	left : 57%;
	width: 5%;
    height:9%;
}

#Emotion_content {
	background-image: url("images/humeurs/humeur_content.gif");
	top: 40%;
	left : 63%;
	width: 5%;
    height:9%;
}
}