/* Paramètres fixes */
#accueil_ClickCreate, #accueil_ClickJoin{
    visibility:hidden; 
    padding:20px; 
    position: fixed;
    color:white;
    letter-spacing: 1px;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    top:18%;
}

#Accueil_bouton_create, #Accueil_bouton_join {
	top :95%;
    left:45%;
    width: 50%;
    height:25%;
    position:absolute;
    margin-left:0px;
}

/* ICONES CREATION ET JOIN */
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon-wrap img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position :relative;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 25%;
	height: 35%;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/* FIN ICONE CREATION ET JOIN */

@media screen and (max-width: 480px) {		
    #accueil_ClickJoin{
    	top:10%; 
		left:10%;
	}
}

@media screen and (min-width: 320px) and (max-height: 250px) and (max-width: 720px) {      
  	 #accueil_ClickJoin{
		top:35%; 
		left:20%; 
	}
}

@media screen and (min-width: 480px) {
    #accueil_ClickJoin{
		top:35%; 
		left:25%; 
	}
}

@media screen and (max-width: 720px) {
	#accueil_create, #accueil_ClickCreate, #accueil_join {
	    display : none;
	}
	
	 #accueil_ClickJoin{
	    visibility:visible;
		top:30%; 
		left:35%; 
	}
}

@media screen and (min-width: 720px) {
	#accueil_create, #accueil_join{
       top:32%;
       left:19%;
       width: 0%;
	   height: 0%;
	   position:absolute;
   }
   
   #accueil_join {
       left:55%; 
   }
   
   
   #accueil_ClickCreate, #accueil_ClickJoin {
       top:43%; 
       left:20%; 
   }
   
   #accueil_ClickJoin {
       left:55%; 
   }
}

@media screen and (min-width: 1024px){
   #accueil_create, #accueil_join {
       top:32%;
       left:19%;
       width: 0%;
	   height: 0%;
	   position:absolute;
   }
   
   #accueil_join {
       left:55%;
   }
   
   #accueil_ClickCreate, #accueil_ClickJoin {
       top:39%; 
       left:25%; 
   }
   
   #accueil_ClickJoin {
       left:60%; 
   }
}
