.DIV_BODDY{
width:90%;
min-width:400px;
height:90%;
min-height:400px;
text-align:center;

}

.INFORMATION_LABEL{
position:relative;
vertical-align:top;
text-align:left;
margin-right:10%;
left:10%;
top:90%;
}


.RECEPTION_INFORMATION{
position:relative;
vertical-align:top;
text-align:center;
margin-left:10%;
margin-right:10%;
left:90%;
top:-10%;
}

.BOUTONS{
	position:relative;
margin-left:10%;
left:-3%;
top:0%;
}

.SPACER{
clear:both;
}
hr{
clear:both;
}

.BOUTON{
min-width:150px;
width:150px;
}

.HEURE{
}

.PARTIE_GAUCHE {
position:absolute;
height:100px;
left:5%;
top:10%;
}

#affichageProf_canvas {
position:fixed;
padding:5%;
background:white;
border:1px solid #DDD;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
left:35%;
top:20%;
}


