<?xml version="1.0" encoding="UTF-8"?>

<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<servlet>
		<servlet-name>ServletTestJs</servlet-name>
		<servlet-class>servlet.ServletTestJs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletTestJs</servlet-name>
		<url-pattern>/testJs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletAccueil</servlet-name>
		<servlet-class>servlet.ServletAccueil</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAccueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletVoteEmotion</servlet-name>
		<servlet-class>servlet.ServletVoteEmotion</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletVoteEmotion</servlet-name>
		<url-pattern>/rejoindre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletVoteEtudiant</servlet-name>
		<servlet-class>servlet.ServletVoteEtudiant</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletVoteEtudiant</servlet-name>
		<url-pattern>/VoterHumeur</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletAffichageProf</servlet-name>
		<servlet-class>servlet.ServletAffichageProf</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAffichageProf</servlet-name>
		<url-pattern>/professeur</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Bdd</servlet-name>
		<servlet-class>baseDeDonnees.Bdd</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Bdd</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletAjouterVote</servlet-name>
		<servlet-class>servlet.ServletAjouterVote</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAjouterVote</servlet-name>
		<url-pattern>/ajouterVote</url-pattern>
	</servlet-mapping>
</web-app>