#voteEtudiant_validerVoter, #voteEtudiant_valeurRange {
		width: auto;
		text-align: center;
		position: absolute;
		left: 50%;
		width: 40%;
		margin-left:-20%;
	}

	#affichageEtudiant_voter {
		width: auto;
		text-align: center;
		position: absolute;
		left: 50%;
		width: 40%;
		margin-left:-20%;
		display: none;
	}
}

span {
	display: inline;
	text-align: center;
	position: absolute;
	left: 50%;
	width: 40%;
	margin-left:-20%;
	
}
/*
input {
	width: auto;
	text-align: center;
	position: absolute;
	left: 50%;
	width: 40%;
	margin-left:-20%;
}
*/